<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body style="font-family: Verdana, Arial, sans-serif; font-size: 12px;">
<p>{__(firstname)__} {__(lastname)__},</p>

<p>Votre inscription a bien &eacute;t&eacute; prise en compte.</p>

<p>Votre code d'inscription est <strong>{__(token_subscribe)__}</strong>.
Vous trouverez en pi&egrave;ce jointe <strong>votre badge d'acc&egrave;s au format PDF &agrave; imprimer</strong>.</p>

<p>Nous restons &agrave; votre disposition pour tous renseignements.</p>

<p>Cordialement,</p>

</body>
</html>
